.customLink {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--secondary-color);
    border-radius: 2rem;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;
    color: var(--text-color);
    font-size: 1.25rem;  
  }
  